@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border-width: 1px;
}

a {
  text-decoration: none;
  color: #000000;
}

ul, ol, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

table {
  border-collapse: collapse;
}

html, body {
  color: #181818;
}

table {
  width: 100%;
  margin: auto;
}

.fc-emphas {
  color: #0047af;
}

.fc-red {
  color: #ff0000;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
html, body, button, textarea, input, select {
  font-family: "Pretendard", sans-serif;
}

.content-container {
  margin: auto;
  padding: 0 15px;
  margin-bottom: 100px;
}
.content-container h2 {
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 25px;
}
.content-container .header-group {
  position: relative;
  min-height: 30px;
  margin-top: 24px;
}
.content-container .header-group .location {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-bottom: 10px;
}
.content-container h3 {
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 12px;
}
.content-container h4 {
  font-size: 15px;
  margin: 15px 0 5px;
}
.content-container h4 .sub-text {
  font-size: 13px;
  color: #818181;
  margin-left: 5px;
}

[class*=icon] {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-list {
  background-image: url("../../image/icon_list.png");
  width: 15px;
  height: 15px;
}

.icon-login {
  background-image: url("../../image/icon_login.png");
  width: 18px;
  height: 18px;
}

.icon-hamburger {
  background-image: url("../../image/icon_hamburger.png");
  width: 20px;
  height: 20px;
}

.icon-more {
  background-image: url("../../image/icon_more.png");
  width: 12px;
  height: 12px;
}

.icon-contact {
  background-image: url("../../image/icon_contact.png");
  width: 52px;
  height: 49px;
}

.icon-close {
  background-image: url("../../image/icon_close.png");
  width: 37px;
  height: 37px;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  border: 0;
  border-radius: 4px;
}
.btn.btn-sm {
  padding: 2px 8px;
  font-size: 12px;
}
.btn.btn-md {
  font-size: 15px;
}
.btn.btn-lg {
  font-size: 18px;
}
.btn.btn-round {
  border-radius: 30px;
}
.btn.btn-wide {
  width: 100%;
}
.btn.btn-primary {
  background-color: #0047af;
  color: #ffffff;
}
.btn.btn-secondary {
  background-color: #ff0101;
  color: #ffffff;
}
.btn.btn-green {
  background-color: #00aa0f;
  color: #ffffff;
}
.btn.btn-default {
  background-color: #333333;
  color: #ffffff;
}
.btn.btn-darkblue {
  background-color: #082361;
  color: #ffffff;
}
.btn.btn-outline-primary {
  background-color: #ffffff;
  border: 1px solid #0047af;
  color: #0047af;
}
.btn.btn-outline-secondary {
  background-color: #ffffff;
  border: 1px solid #ff0101;
  color: #ff0101;
}
.btn.btn-outline-default {
  background-color: #ffffff;
  border: 1px solid #333333;
  color: #333333;
}

.btn-group.flex-type {
  display: flex;
  gap: 10px;
}
.btn-group.flex-type .btn {
  flex: 0 1 auto;
}

.tab-wrap {
  display: grid;
  flex-wrap: wrap;
}
.tab-wrap .tab-item {
  flex: 0 0 auto;
  border: 1px solid #ababab;
  border-width: 1px 1px 1px 0;
  box-sizing: border-box;
}
.tab-wrap .tab-item:nth-last-of-type(1) {
  border-right-width: 1px;
}
.tab-wrap .tab-item a {
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.tab-wrap .tab-item.on {
  background-color: #0047af;
  border: 0;
}
.tab-wrap .tab-item.on a {
  color: #ffffff;
}
.tab-wrap.col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.tab-wrap.col-2 .tab-item {
  flex-basis: 50%;
}
.tab-wrap.col-2 .tab-item:nth-of-type(2n+1) {
  border-left-width: 1px;
}
.tab-wrap.col-2 .tab-item:nth-of-type(n+3) {
  border-top-width: 0;
}
.tab-wrap.col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.tab-wrap.col-3 .tab-item {
  flex-basis: 33.3333333333%;
}
.tab-wrap.col-3 .tab-item:nth-of-type(3n+1) {
  border-left-width: 1px;
}
.tab-wrap.col-3 .tab-item:nth-of-type(n+4) {
  border-top-width: 0;
}
.tab-wrap.col-4 {
  grid-template-columns: repeat(4, 1fr);
}
.tab-wrap.col-4 .tab-item {
  flex-basis: 25%;
}
.tab-wrap.col-4 .tab-item:nth-of-type(4n+1) {
  border-left-width: 1px;
}
.tab-wrap.col-4 .tab-item:nth-of-type(n+5) {
  border-top-width: 0;
}
.tab-wrap.col-5 {
  grid-template-columns: repeat(5, 1fr);
}
.tab-wrap.col-5 .tab-item {
  flex-basis: 20%;
}
.tab-wrap.col-5 .tab-item:nth-of-type(5n+1) {
  border-left-width: 1px;
}
.tab-wrap.col-5 .tab-item:nth-of-type(n+6) {
  border-top-width: 0;
}
.tab-wrap.col-6 {
  grid-template-columns: repeat(6, 1fr);
}
.tab-wrap.col-6 .tab-item {
  flex-basis: 16.6666666667%;
}
.tab-wrap.col-6 .tab-item:nth-of-type(6n+1) {
  border-left-width: 1px;
}
.tab-wrap.col-6 .tab-item:nth-of-type(n+7) {
  border-top-width: 0;
}
.tab-wrap.dark .tab-item a {
  background-color: #082361;
  color: #ffffff;
}
.tab-wrap.dark .tab-item.on {
  border: 1px solid #ababab;
}
.tab-wrap.dark .tab-item.on a {
  background-color: #0047af;
  color: #fffc00;
}
.tab-wrap.dark.col-2 .tab-item {
  border: 1px solid #ababab;
  border-width: 1px 1px 1px 0;
}
.tab-wrap.dark.col-3 .tab-item {
  border: 1px solid #ababab;
  border-width: 1px 1px 1px 0;
}
.tab-wrap.dark.col-4 .tab-item {
  border: 1px solid #ababab;
  border-width: 1px 1px 1px 0;
}
.tab-wrap.dark.col-5 .tab-item {
  border: 1px solid #ababab;
  border-width: 1px 1px 1px 0;
}
.tab-wrap.dark.col-6 .tab-item {
  border: 1px solid #ababab;
  border-width: 1px 1px 1px 0;
}

.radio-wrap {
  font-size: 15px;
  padding: 5px 5px;
  cursor: pointer;
}
.radio-wrap span {
  vertical-align: middle;
}
.radio-wrap [type=radio] {
  vertical-align: middle;
  appearance: none;
  border: 2px solid gray;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.radio-wrap [type=radio]:checked {
  border: 7px solid red;
}
.radio-wrap [type=radio]:hover {
  cursor: pointer;
}

.checkbox-wrap {
  font-size: 15px;
  padding: 5px 5px;
  cursor: pointer;
}
.checkbox-wrap span {
  vertical-align: middle;
}
.checkbox-wrap input[type=checkbox] {
  vertical-align: middle;
  width: 15px;
  height: 15px;
  accent-color: red;
}
.checkbox-wrap input[type=checkbox]:hover {
  cursor: pointer;
}

input {
  box-sizing: border-box;
}
input[type=text].default-input, input[type=number].default-input, input[type=password].default-input {
  background-color: #ffffff;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  height: 32px;
  font-size: 15px;
  padding: 10px;
  width: 150px;
}
input[type=text].default-input.input-sm, input[type=number].default-input.input-sm, input[type=password].default-input.input-sm {
  width: 80px;
}
input[type=text].default-input.with-button, input[type=number].default-input.with-button, input[type=password].default-input.with-button {
  width: calc(100% - 85px);
  margin-right: 5px;
}

input[type=file].default-input {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  font-size: 15px;
}

.input-wrap.search input {
  background-image: url("../../image/search_icon.png");
  background-size: 20px;
  background-position: center right 10px;
  background-repeat: no-repeat;
  padding-right: 35px;
}

select.default-input {
  background-color: #ffffff;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  height: 32px;
  font-size: 15px;
  padding: 0 5px;
  min-width: 80px;
}

.cell-phone input {
  text-align: center;
}

textarea {
  resize: none;
}
textarea.default-input {
  background-color: #ffffff;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  font-size: 15px;
  padding: 10px;
}

.scroll-custom::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}
.scroll-custom::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 10px;
}
.scroll-custom.vertical {
  overflow-y: auto;
}
.scroll-custom.horizon {
  overflow-x: auto;
}

.table-default {
  font-size: 14px;
  table-layout: fixed;
}
.table-default tbody th {
  background-color: #f0f0f0;
}
.table-default tbody td,
.table-default tbody th {
  height: 30px;
  border: 1px solid #d3d3d3;
  padding: 7px;
}
.table-default.th-align-l td,
.table-default.th-align-l th {
  text-align: left;
}
.table-default.th-align-l td {
  padding-left: 10px;
}
.table-default .address-wrap .post-number {
  margin-bottom: 5px;
}
.table-default .address-wrap .post-number input {
  margin-right: 5px;
}
.table-default .address-wrap .address input {
  width: 100%;
  margin-bottom: 5px;
}
.table-default .address-wrap .address input:last-child {
  margin-bottom: 0;
}
.table-default .cell-phone {
  display: flex;
  align-items: center;
  max-width: 260px;
}
.table-default .cell-phone .input-wrap {
  flex: 1 1 25%;
}
.table-default .cell-phone .input-wrap input {
  width: 100%;
}
.table-default .cell-phone .dash {
  padding: 2px;
}
.table-default .notice-text {
  font-size: 15px;
  font-weight: 700;
  color: #ff0000;
}
.table-default .description {
  font-size: 14px;
  color: #898989;
}
.table-default .notice {
  margin: 5px 0;
}
.table-default input {
  box-sizing: border-box;
}
.table-default input[type=text].default-input, .table-default input[type=number].default-input, .table-default input[type=password].default-input {
  max-width: 100%;
}

.table-topper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 10px;
}

.table-bottom {
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 20px;
}
.table-bottom .prefix,
.table-bottom .suffix {
  display: flex;
  flex: 1 0 50%;
  align-items: center;
}
.table-bottom .suffix {
  justify-content: flex-end;
}
.table-bottom .center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.table-bottom-center {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 10px;
}

.table-schedule {
  font-size: 14px;
}
.table-schedule thead th {
  background-color: #f0f0f0;
}
.table-schedule th, .table-schedule td {
  height: 30px;
  padding: 0 10px;
  border: 1px solid #d3d3d3;
}

.table-list > ul {
  display: table;
  width: 100%;
  border-collapse: collapse;
  box-sizing: border-box;
}
.table-list > ul > li {
  display: table-row;
}
.table-list > ul > li.thead {
  background-color: #f0f0f0;
  font-weight: 700;
}
.table-list > ul > li .th,
.table-list > ul > li .td {
  display: table-cell;
  border: 1px solid #d3d3d3;
  text-align: center;
  height: 30px;
  vertical-align: middle;
  font-size: 14px;
}

.tag {
  display: inline-flex;
  height: 18px;
  width: 18px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #f0f0f0;
  color: #ffffff;
  font-size: 12px;
}
.tag.win {
  background-color: #0047af;
}
.tag.mp4 {
  background-color: #00aa0f;
}
.tag.mo {
  background-color: #f1db00;
}
.tag.complete {
  background-color: #ff0000;
}

.border-list > ul {
  display: table;
  width: 100%;
  border-collapse: collapse;
  box-sizing: border-box;
  font-size: 13px;
}
.border-list > ul > li {
  display: table-row;
  border-bottom: 1px solid #d3d3d3;
}
.border-list > ul > li.thead {
  background-color: #f0f0f0;
  font-weight: 700;
}
.border-list > ul > li .th,
.border-list > ul > li .td {
  display: table-cell;
  text-align: center;
  height: 30px;
  vertical-align: top;
}
.border-list > ul > li .th .checkbox-wrap,
.border-list > ul > li .td .checkbox-wrap {
  padding: 0;
  line-height: 0;
}
.border-list > ul > li .th .checkbox-wrap input[type=checkbox],
.border-list > ul > li .td .checkbox-wrap input[type=checkbox] {
  width: 15px;
  height: 15px;
  margin: 0px;
}
.border-list > ul > li .td .title {
  text-align: left;
}
.border-list > ul > li .td .title a {
  font-weight: 700;
  font-size: 15px;
}
.border-list > ul > li .td .info {
  text-align: left;
}
.border-list > ul > li .td .info > ul > li {
  display: inline-block;
}

.tag {
  display: inline-flex;
  height: 18px;
  width: 18px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #f0f0f0;
  color: #ffffff;
  font-size: 12px;
}
.tag.win {
  background-color: #0047af;
}
.tag.mp4 {
  background-color: #00aa0f;
}
.tag.mo {
  background-color: #f1db00;
}
.tag.complete {
  background-color: #ff0000;
}

.pagination {
  display: flex;
  gap: 5px;
  margin: 10px 0;
  justify-content: space-between;
}
.pagination a {
  display: inline-flex;
  height: 25px;
  width: 25px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 1;
}
.pagination a.page-num {
  margin: 0 5px;
}
.pagination a.disabled {
  opacity: 0.3;
  cursor: default;
}
.pagination a.current {
  color: #ff0000;
  font-weight: 700;
  cursor: default;
}
.pagination .to-first, .pagination .prev, .pagination .to-last, .pagination .next {
  border: 1px solid #181818;
  border-radius: 4px;
  flex: 0 0 25px;
}
.pagination .to-first:before, .pagination .prev:before, .pagination .to-last:before, .pagination .next:before {
  margin-top: -2px;
  letter-spacing: -2px;
}
.pagination .to-first:before {
  content: "<<";
}
.pagination .prev:before {
  content: "<";
}
.pagination .next:before {
  content: ">";
}
.pagination .to-last:before {
  content: ">>";
}

.gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  height: 50px;
}
.gnb .prefix, .gnb .center, .gnb .suffix {
  flex: 0 0 33.3333333333%;
}
.gnb .center {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.gnb .center .go-home {
  width: 100px;
}
.gnb .center .go-home img {
  width: 100%;
}
.gnb .suffix {
  display: inline-flex;
  justify-content: end;
  align-items: center;
}
.gnb .btn-menu, .gnb .btn-login {
  display: inline-block;
}
.gnb .btn-menu .icon-login, .gnb .btn-login .icon-login {
  width: 15px;
  height: 15px;
  vertical-align: middle;
}
.gnb .btn-menu .icon-hamburger, .gnb .btn-login .icon-hamburger {
  width: 20px;
  height: 14px;
  vertical-align: middle;
}
.gnb .btn-login {
  font-size: 12px;
}

.nav {
  height: 40px;
  background-color: #082361;
}
.nav > ul {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}
.nav > ul > li a {
  font-size: 15px;
  color: #ffffff;
}

footer {
  background-color: #eeeeee;
  padding: 25px 0;
}
footer .links {
  text-align: center;
}
footer .links li {
  display: inline-block;
  position: relative;
  margin: 0 15px;
}
footer .links li:after {
  content: "";
  display: inline-block;
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  height: 10px;
  border-right: 1px solid #828282;
}
footer .links li:last-child:after {
  content: none;
}
footer .links li a {
  color: #828282;
  font-size: 12px;
}
footer .info {
  margin-top: 20px;
  font-size: 12px;
  text-align: center;
  color: #181818;
  line-height: 20px;
}

.all-menu {
  position: fixed;
  background-color: #082361;
  top: 0;
  height: 100vh;
  left: 0;
  right: 0;
  color: #ffffff;
  display: none;
}
.all-menu.on {
  display: block;
}
.all-menu .header {
  position: relative;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff;
  padding: 0 10px 0 20px;
}
.all-menu .header .logo-menu {
  width: 100px;
}
.all-menu .header .user {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: 700;
  color: #9cc0f4;
}
.all-menu .header .btn-close {
  display: inline-block;
}
.all-menu .links ul {
  text-align: center;
  border-bottom: 1px solid #ffffff;
}
.all-menu .links ul > li {
  display: inline-block;
  position: relative;
}
.all-menu .links ul > li:after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-right: 1px solid #ffffff;
  height: 15px;
}
.all-menu .links ul > li:last-child::after {
  content: none;
}
.all-menu .links ul > li a {
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 13px;
}
.all-menu .menu {
  padding: 0 10px;
}
.all-menu .menu > ul > li {
  border-bottom: 1px solid #666666;
}
.all-menu .menu > ul > li:last-child {
  border-bottom: 0;
}
.all-menu .menu > ul > li a {
  display: block;
  padding: 12px;
  color: #ffffff;
  font-size: 13px;
}
.all-menu .menu > ul > li a:before {
  content: "·";
  margin-right: 10px;
}

.main .main-visual img {
  width: 100%;
}
.main .multie-banner {
  display: flex;
}
.main .multie-banner a {
  flex: 0 0 50%;
}
.main .multie-banner a img {
  width: 100%;
}
.main .content-container {
  margin-bottom: 30px;
}
.main .overview-wrap {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.main .overview-wrap .board-overview {
  flex: 0 0 50%;
}
.main .overview-wrap .board-overview .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d0d0d0;
  height: 25px;
}
.main .overview-wrap .board-overview .header h4 {
  margin: 0;
  font-size: 12px;
  font-weight: 700;
}
.main .overview-wrap .board-overview .header ul {
  display: flex;
  height: 100%;
  border: 1px solid #cfcfcf;
}
.main .overview-wrap .board-overview .header ul li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  background-color: #ffffff;
  border-right: 1px solid #cfcfcf;
}
.main .overview-wrap .board-overview .header ul li:last-child {
  border-right: 0;
}
.main .overview-wrap .board-overview .header ul li a {
  display: inline-flex;
  color: #939393;
  width: 100%;
  height: 100%;
  height: 25px;
  font-size: 10px;
  justify-content: center;
  align-items: center;
  padding: 2px;
}
.main .overview-wrap .board-overview .header ul li:hover, .main .overview-wrap .board-overview .header ul li.on {
  background-color: #194373;
  border: 1px solid #194373;
}
.main .overview-wrap .board-overview .header ul li:hover a, .main .overview-wrap .board-overview .header ul li.on a {
  color: white;
}
.main .overview-wrap .board-overview .header .btn-more {
  display: inline-block;
  color: #7e7e7e;
  font-size: 20px;
}
.main .overview-wrap .board-overview .content {
  padding-top: 10px;
}
.main .overview-wrap .board-overview .content a {
  color: gray;
  font-size: 12px;
}
.main .overview-wrap .board-overview .content li::before {
  content: "· ";
}
.main .contact {
  background-color: #1074c3;
  padding: 20px 0;
  color: #ffffff;
}
.main .contact .content-container {
  margin-bottom: 0;
}
.main .contact .content-container .header {
  background-image: url("../../image/icon_contact.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 40px;
  height: 50px;
  padding-left: 45px;
  padding-top: 15px;
}
.main .contact .content-container .title {
  font-size: 16px;
  font-weight: 700;
}
.main .contact .content-container .sub-text {
  font-size: 12px;
}
.main .contact .content-container .radio-wrap {
  font-size: 12px;
}
.main .contact .content-container .radio-wrap [type=radio] {
  width: 13px;
  height: 13px;
  background-color: #ffffff;
  border-color: #eeeeee;
}
.main .contact .content-container .radio-wrap [type=radio]:checked {
  background-color: #f49c00;
  border-width: 0;
  border-color: #f49c00;
}
.main .contact .content-container .agree {
  margin-top: 10px;
}
.main .contact .content-container .agree .checkbox-wrap {
  font-size: 12px;
}
.main .contact .content-container .agree .checkbox-wrap input[type=checkbox] {
  accent-color: #f49c00;
}
.main .contact .content-container .info {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
.main .contact .content-container .info .left, .main .contact .content-container .info .right {
  flex: 0 1 50%;
}
.main .contact .content-container .info .name, .main .contact .content-container .info .phone, .main .contact .content-container .info textarea {
  width: 100%;
  font-size: 12px;
}
.main .contact .content-container .info .name {
  margin-bottom: 10px;
}
.main .contact .content-container .info textarea {
  height: 74px;
}

.join .step {
  background-color: #f3f3f3;
  color: #818181;
  border: solid 1px #a4a4a4;
  border-radius: 4px;
}
.join .step ul {
  display: flex;
  justify-content: space-around;
}
.join .step ul > li {
  position: relative;
  display: inline-flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 13px;
  padding: 10px 13px 10px 19px;
  height: 57px;
  box-sizing: border-box;
  word-break: keep-all;
}
.join .step ul > li > span {
  z-index: 1;
}
.join .step ul > li:after {
  content: "";
  position: absolute;
  right: -28px;
  top: calc(50% - 8px);
  height: 28px;
  width: 29px;
  border-right: 1px solid #a4a4a4;
  border-bottom: 1px solid #a4a4a4;
  background-color: #f3f3f3;
  transform: rotate(-62deg) translateY(-50%) skew(-35deg);
  z-index: 1;
}
.join .step ul > li:last-child {
  border-right: 0;
}
.join .step ul > li:last-child:after {
  content: none;
}
.join .step ul > li.on {
  color: #ffffff;
  background-color: #0048af;
}
.join .step ul > li.on:after {
  background-color: #0048af;
}
.join .term-wrap {
  background-color: #f3f3f3;
  padding: 20px;
  font-size: 13px;
  border: 1px solid #a4a4a4;
  border-radius: 4px;
}
.join .term-wrap .title {
  margin-bottom: 10px;
  font-size: 15px;
  color: #181818;
}
.join .term-wrap > ul {
  display: table;
}
.join .term-wrap > ul > li {
  display: table-row;
}
.join .term-wrap > ul > li .th, .join .term-wrap > ul > li .td {
  display: table-cell;
  height: 20px;
  padding: 5px 0;
  line-height: 1.4;
}
.join .term-wrap > ul > li .th {
  width: 80px;
  color: #818181;
}
.join .term-wrap > ul > li .td > ul {
  margin-top: 15px;
}
.join .term-wrap > ul > li .td > ul > li {
  text-indent: -15px;
  padding-left: 15px;
  word-break: keep-all;
}
.join .term-wrap > ul > li .td > ul > li:before {
  content: "○";
}
.join .customer-info-basic .id-check-wrap {
  margin-top: 10px;
}
.join .agree-wrap {
  margin: 15px 0 30px;
  font-weight: 700;
}
.join .agree-wrap.center {
  text-align: center;
}

.login .header {
  margin: 20px 0;
  text-align: center;
}
.login .header img {
  width: 150px;
}
.login h2 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 20px;
  color: #181818;
  text-align: left;
}
.login .login-wrap {
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  padding: 30px;
  max-width: 450px;
  margin: 0 auto 50px;
}
.login .login-wrap .sub-text {
  color: #818181;
  font-size: 13px;
}
.login .login-wrap .input-wrap input {
  width: 100%;
  margin-bottom: 10px;
  height: 50px;
  text-align: left;
}
.login .login-wrap .input-wrap .cell-phone {
  display: flex;
  align-items: center;
}
.login .login-wrap .input-wrap .cell-phone .input-wrap {
  flex: 1 1 25%;
}
.login .login-wrap .input-wrap .cell-phone .input-wrap input {
  width: 100%;
}
.login .login-wrap .input-wrap .cell-phone .dash {
  padding: 2px;
}
.login .login-wrap .links {
  margin-top: 25px;
  text-align: center;
}
.login .login-wrap .links li {
  position: relative;
  display: inline-block;
  padding: 0 20px;
  font-weight: 700;
}
.login .login-wrap .links li:after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-right: 1px solid #181818;
  height: 10px;
}
.login .login-wrap .links li:last-child:after {
  content: none;
}
.login .btn.submit {
  height: 50px;
}

.info-board .table-topper {
  font-size: 12px;
  line-height: 20px;
}
.info-board .table-topper [class*=icon] {
  vertical-align: middle;
}
.info-board .table-list > ul > li {
  font-size: 16px;
}
.info-board .table-list > ul > li .th, .info-board .table-list > ul > li .td {
  padding: 5px;
}
.info-board .table-list > ul > li:not(.thead) {
  cursor: pointer;
}
.info-board .table-list > ul > li:not(.thead):hover {
  background-color: #f9f9f9;
}
.info-board .table-list > ul > li.tr .th:nth-of-type(1),
.info-board .table-list > ul > li.tr .td:nth-of-type(1) {
  width: 35px;
}
.info-board .table-list > ul > li.tr .th:nth-last-of-type(1),
.info-board .table-list > ul > li.tr .td:nth-last-of-type(1) {
  width: 80px;
}
.info-board .board.border-list {
  margin-left: -15px;
  width: calc(100% + 30px);
  margin-top: 20px;
  border-top: 1px solid #181818;
}
.info-board .board.border-list li.tr .td, .info-board .board.border-list li.tr .th {
  padding: 5px;
  height: 45px;
}
.info-board .board.border-list li.tr .td:nth-of-type(1), .info-board .board.border-list li.tr .th:nth-of-type(1) {
  width: 20px;
}
.info-board .board.border-list li.tr .td:nth-of-type(2), .info-board .board.border-list li.tr .th:nth-of-type(2) {
  width: 30px;
}
.info-board .board.border-list li.tr .td .title, .info-board .board.border-list li.tr .th .title {
  margin-bottom: 5px;
}

.test-schedule .table-default {
  margin-top: 20px;
}
.test-schedule .table-schedule {
  min-width: 600px;
}
.test-schedule .table-schedule a {
  color: #0047af;
}

.edu-board .table-default {
  margin-top: 20px;
}
.edu-board .table-default .check-wrap {
  margin: 5px 0;
}
.edu-board .table-default .check-wrap .checkbox-wrap:first-child {
  padding-left: 0;
}
.edu-board .file-name {
  display: flex;
  justify-content: space-between;
  margin: 8px 0 0;
}

.apply-class .banners {
  margin-top: 20px;
}
.apply-class .banners img {
  width: 100%;
}
.apply-class .banners ul > li a {
  display: block;
  line-height: 0;
}
.apply-class .table-default {
  margin-bottom: 10px;
}
.apply-class .table-default .cell-phone {
  display: flex;
  align-items: center;
}
.apply-class .table-default .cell-phone .input-wrap {
  flex: 1 1 25%;
}
.apply-class .table-default .cell-phone .input-wrap input {
  width: 100%;
}
.apply-class .table-default .cell-phone .dash {
  padding: 2px;
}
.apply-class .table-default .class-period label {
  display: block;
  padding-left: 0;
}
.apply-class .table-default .price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.apply-class .table-default .price .discounted input {
  color: #ff0000;
}
.apply-class .table-default .select-certify {
  display: flex;
  gap: 5px;
}
.apply-class .table-default .select-certify select {
  flex: 1 1 auto;
}
.apply-class .table-default .order-list {
  margin-left: 15px;
}
.apply-class .table-default .order-list li {
  text-indent: -15px;
  line-height: 1.4;
  margin-bottom: 5px;
}
.apply-class .term-text {
  text-align: center;
  word-break: keep-all;
  font-size: 16px;
  line-height: 1.4;
}
.apply-class .contract {
  margin: 10px 0 20px;
  text-align: center;
}
.apply-class .contract .agree {
  margin: 10px 0;
  font-weight: 700;
}
.apply-class .notice-important {
  color: #ff0000;
}

.class-sample .sample-video-wrap {
  margin-top: 20px;
}
.class-sample .sample-video-wrap .video-wrap {
  max-width: 600px;
  margin: auto;
  margin-bottom: 20px;
}
.class-sample .sample-video-wrap .video-wrap video {
  width: 100%;
}

.notice-board.content-container {
  margin: auto;
}
.notice-board .board-view .view-header {
  padding: 0 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #818181;
}
.notice-board .board-view .view-header .title {
  font-weight: 700;
}
.notice-board .board-view .view-header .info > ul li {
  display: inline-block;
  position: relative;
  color: #818181;
  font-size: 15px;
  margin: 0 8px;
}
.notice-board .board-view .view-header .info > ul li:first-child {
  margin-left: 0;
}
.notice-board .board-view .view-header .info > ul li:last-child:after {
  content: none;
}
.notice-board .board-view .view-header .info > ul li:after {
  content: "";
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  border-right: 1px solid #818181;
  height: 12px;
}
.notice-board .board-view .view-body {
  padding: 15px;
  border-bottom: 1px solid #818181;
}
.notice-board .board-view .view-body .files > ul > li {
  margin-bottom: 10px;
}
.notice-board .board-view .view-body .files > ul > li:before {
  content: "•";
  margin-right: 5px;
}
.notice-board .board-view .view-body .files > ul > li a {
  color: #818181;
}
.notice-board .board-view .view-body .content-wrap {
  margin-top: 20px;
}
.notice-board .nav-button {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin-top: 20px;
}
.notice-board .nav-button .prev:before {
  content: "◀";
  margin-right: 10px;
}
.notice-board .nav-button .next:after {
  content: "▶";
  margin-left: 10px;
}