.border-list {
  > ul {
    display: table;
    width: 100%;
    border-collapse: collapse;
    box-sizing: border-box;
    font-size: 13px;
    > li {
      display: table-row;
      border-bottom: 1px solid $tableBorderColor;
      &.thead {
        background-color: $tablethBg;
        font-weight: 700;
      }
      .th,
      .td {
        display: table-cell;
        text-align: center;
        height: $tableTdHeight;
        vertical-align: top;
        .checkbox-wrap{
          padding: 0;
          line-height: 0;
          input[type="checkbox"]{
            width: 15px;
            height: 15px;
            margin: 0px;
          }
        }
      }
      .td{
        .title{
          text-align: left;
          a{
            font-weight: 700;
            font-size: 15px;
          }
        }
        .info{
          text-align: left;
          >ul{
            >li{
              display: inline-block;
            }
          }
        }
      }
    }
  }
}
.tag {
  display: inline-flex;
  height: 18px;
  width: 18px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: $tablethBg;
  color: #ffffff;
  font-size: 12px;
  &.win {
    background-color: $primary;
  }
  &.mp4 {
    background-color: $green;
  }
  &.mo {
    background-color: $yellow;
  }
  &.complete {
    background-color: $red;
  }
}