html, body{
    color:$defaultFontColor;
}
table{
    width: 100%;
    margin: auto;
}
.fc-emphas{
    color: $primaryFontColor;
}
.fc-red{
    color:#ff0000
}
.mt-20{
    margin-top: 20px;
}
.mt-10{
    margin-top: 10px;
}