footer {
  background-color: #eeeeee;
  padding: 25px 0;
  .links {
    text-align: center;
    li {
      display: inline-block;
      position: relative;
      margin: 0 15px;
      &:after {
        content: "";
        display: inline-block;
        position: absolute;
        right: -15px;
        top: 50%;
        transform: translateY(-50%);
        height: 10px;
        border-right: 1px solid #828282;
      }
      &:last-child {
        &:after {
          content: none;
        }
      }
      a {
        color: #828282;
        font-size: 12px;
      }
    }
  }
  .info {
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
    color: #181818;
    line-height: 20px;
  }
}
