.gnb{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  height: $gnbHeight;
  .prefix, .center, .suffix{
    flex: 0 0 calc(100% / 3);
  }
  .center{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    .go-home{
      width: 100px;
      img{
        width: 100%;
      }
    }
  }
  .suffix{
    display: inline-flex;
    justify-content: end;
    align-items: center;
  }
  .btn-menu, .btn-login{
    display: inline-block;
    .icon-login{
      width: 15px;
      height: 15px;
      vertical-align: middle;
    }
    .icon-hamburger{
      width: 20px;
      height: 14px;
      vertical-align: middle;
    }
  }
}