[class*=icon]{
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
}
.icon-list{
  background-image: url('../../image/icon_list.png');
  width: 15px;
  height: 15px;
}
.icon-login{
  background-image: url('../../image/icon_login.png');
  width: 18px;
  height: 18px;
}
.icon-hamburger{
  background-image: url('../../image/icon_hamburger.png');
  width: 20px;
  height: 20px;
}
.icon-more{
  background-image: url('../../image/icon_more.png');
  width: 12px;
  height: 12px;
}
.icon-contact{
  background-image: url('../../image/icon_contact.png');
  width: 52px;
  height: 49px;
}
.icon-close{
  background-image: url('../../image/icon_close.png');
  width: 37px;
  height: 37px;
}