[class*=icon]{
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
}
.icon-list{
  background-image: url('../../image/icon_list.png');
  width: 15px;
  height: 15px;
}