.table-schedule{
    font-size: 12px;
    thead{
        th{
            background-color: $tablethBg;
        }
    }
    th, td{
        height: $tableTdHeight;
        padding: 0 10px;
        border: 1px solid $tableBorderColor;
    }
}