$containerWidth : 1200px;
$gnbHeight: 90px;
$navHeight: 64px;

$tableBorderColor: #d3d3d3;
$tablethBg: #f0f0f0;
$tableTdHeight: 45px;

$boxBorderColor: #d0d0d0;

$primary: #259bff;
$green: #00aa0f;
$yellow: #f1db00;
$red: #d70000;
$darkBlue: #173c7f;
$defaultFontColor: #181818;
$primaryFontColor: $primary;