$containerWidth : 1200px;
$gnbHeight: 90px;
$navHeight: 64px;

$tableOutBorderColor: #181818;
$tableBorderColor: #d3d3d3;
$tablethBg: #f0f0f0;
$tableTdHeight: 30px;

$boxBorderColor: #d0d0d0;

$primary: #0047af;
$green: #00aa0f;
$yellow: #f1db00;
$red: #d70000;
$darkBlue: #082361;
$defaultFontColor: #181818;
$primaryFontColor: $primary;